/* .popup__input_type_error {
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(255, 0, 0, 1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
} */