.popup__name {
    margin: 54px auto 0;
    min-height: 27px;
    width: 358px;
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: content-box;
    padding-bottom: 13px;
}

.popup__name::placeholder {
    color: #000;
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.popup__name:focus {
    outline: none;
    border: 2px solid rgba(52, 123, 230, .8);
    box-shadow: 0 0 4px rgba(52, 123, 230, 1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@media all and (max-width: 600px) {
    .popup__name {
        width: 238px;
        margin: 75px auto 0;
    }
}