.profile__add-button {
    margin: 0 0 0 auto;
    align-self: center;
    justify-self: flex-start;
    background-image: url(../../../images/add_button.svg);
    background-position: center;
    background-color: #000;
    width: 150px;
    height: 50px;
    border: 1px solid #FFF;
    box-sizing: border-box;
    transition: opacity .3s linear;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}